/////////////////////////////////////////////////////////////      MODULES         ////////////////////////////////////////////////////////////////////////

@keyframes slideFromLeft {
    0% {
      transform: translateX(-2%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
}

@keyframes slideFromTop {
    0% {
      transform: translateY(-20%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
}

/////////////////////////////////////////////////////////////      MODULES         ////////////////////////////////////////////////////////////////////////

div.App {
    background-color: #535252;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

div.middle-info {
    font-variant: all-small-caps;
    font-weight: bold;
    font-size: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('https://media.discordapp.net/attachments/1023739011480686604/1084352110780497920/Png.png?width=1440&height=864');
    background-size: cover;

    text-align: center;
    word-break: break-word;

    :not(div.middle-info) {
        animation: slideFromTop 0.5s ease-in-out;
    }

    div.intro {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 70%;
        color: #faf7f7;
        font-variant: normal;

        p {
            font-family: system-ui;
            font-size: 4rem;
            font-weight: 800;
        }

        @media (max-width: 768px) {
            max-width: 100%;
            p {
                font-size: 2rem;
                max-width: 100%;
                word-break: normal;
            }
        }
    }

    div.middle {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 20px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        padding: 40px;
        margin-bottom: 40px;

        @media (max-width: 768px) {
            padding: 20px;
            width: 90%;

            div.middle-text {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
        }
    }

    span.middle-1, span.middle-3 {
        color: #faf7f7;
    }
        
    span.middle-2 {
        background: linear-gradient(45deg, rgb(254 157 67) 0%, rgb(182, 39, 46) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin: 0 10px;
    }

    div.middle-waiting {
        box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
        --tw-shadow: 0px 5px 10px rgba(54,70,76,.05),0px 0px 20px 4px rgba(254, 157, 67, 0.5);
        --tw-shadow-colored: 0px 5px 10px var(--tw-shadow-color),0px 0px 20px 4px var(--tw-shadow-color);
        --tw-bg-opacity: 1;
        background-color: rgb(254 157 67/var(--tw-bg-opacity));
        border-radius: 9999px;
        color: rgb(255 255 255/var(--tw-text-opacity));
        cursor: pointer;
        width: 220px;
        height: 3.75rem;

        display: flex;
        justify-content: center;
        align-items: center;

        margin-top: 30px;
        
        p {
            font-weight: 700;
            font-size: 1.325rem;
            color: #fff;
        }

        &:hover {
            --tw-shadow-color: rgba(254, 157, 67,.5);
            --tw-shadow: var(--tw-shadow-colored);
            transition: all .2s ease-in-out;
            transform: scale(1.05);
        }
    }

    @media (max-width: 768px) {
        font-size: 40px;
    }
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

div.updates {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 200px 0;
    background-color: #faf7f7;

    img.new-update-logo {
        width: 350px;
        height: 350px;
        border-radius: 20%;
    }

    div.updates-info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 100%;
        background-color: transparent;
        align-items: start;
        margin-left: 70px;

        p.updates-title {
            --tw-text-opacity: 1;
            font-size: 16px;
            font-weight: 700;
            color: rgb(254 157 67/var(--tw-text-opacity));
            margin: 0;
            padding: 0;
            font-family: sans-serif;
        }
    }

    header {
        max-width: 400px;
        background-color: transparent;

        h2.updates-subtitle {
            font-weight: 800;
            font-size: 34px;
            color: #2B2B2B;
        }

        p.updates-lowertitle {
            font-weight: 500;
            font-size: 1.125rem;
            color: #7E7E7E;
        }
    }

    div.Round-Button {
        box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
        --tw-shadow: 0px 5px 10px rgba(54,70,76,.05),0px 0px 20px 4px rgba(24, 133, 223, 0.5);
        --tw-shadow-colored: 0px 5px 10px var(--tw-shadow-color),0px 0px 20px 4px var(--tw-shadow-color);
        --tw-bg-opacity: 1;
        background-color: rgb(24 133 223/var(--tw-bg-opacity));
        border-radius: 9999px;
        color: rgb(255 255 255/var(--tw-text-opacity));
        cursor: pointer;
        width: 220px;
        height: 3.75rem;

        display: flex;
        justify-content: center;
        align-items: center;
        
        a {
            font-weight: 700;
            font-size: 1.125rem;
            color: #fff;
            margin: 0;
            padding: 0;
        }

        &:hover {
            --tw-shadow-color: rgba(67,117,254,.5);
            --tw-shadow: var(--tw-shadow-colored);
            transition: all .2s ease-in-out;
            transform: scale(1.05);
        }
    }

    @media (max-width: 768px) {
        flex-direction: column;
        padding: 100px 0;

        img.new-update-logo {
            width: 200px;
            height: 200px;
            border-radius: 20%;
        }

        div.updates-info {
            margin-left: 0;
            margin-top: 20px;
        }

        div.Round-Button {
            width: 100%;
        }
    }
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

div.bottom {
    background-color: #dddcdc;
    padding: 100px;
    max-width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-align: center;

    p.bottom-title {
        font-weight: 800;
        font-size: 3.125rem;
        color: #2B2B2B;
        margin: 0;
        padding: 0;

        @media (max-width: 768px) {
            font-size: 2.5rem;
        }
    }

    div.bottom-stats {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding: 50px 0;

        div {
            box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
            --tw-shadow: 0px 5px 10px rgba(54,70,76,.05),0px 0px 20px 4px rgba(24, 133, 223, 0.5);
            --tw-shadow-colored: 0px 5px 10px var(--tw-shadow-color),0px 0px 20px 4px var(--tw-shadow-color);
            --tw-bg-opacity: 1;
            background-color: rgb(24 133 223/var(--tw-bg-opacity));
            border-radius: 30px;
            color: rgb(255 255 255/var(--tw-text-opacity));
            cursor: pointer;
            width: 250px;
            height: 6.75rem;
            margin: 0 20px;
    
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            
            p, h2 {
                font-weight: 700;
                font-size: 1.125rem;
                color: #fff;
                margin: 0;
                padding: 0;
            }

            h2 {
                font-size: 2.5rem;
            }

            &.playing {
                background-color: rgb(24 223 30/ var(--tw-bg-opacity));;
                --tw-shadow: 0px 5px 10px rgba(54,70,76,.05),0px 0px 20px 4px rgba(24, 223, 30, 0.5);
            }

            &.visits {
                background-color: rgb(233 30 90/ var(--tw-bg-opacity));;
                --tw-shadow: 0px 5px 10px rgba(54,70,76,.05),0px 0px 20px 4px rgba(233, 30, 90, 0.5);
            }
        }

        @media (max-width: 768px) {
            flex-direction: column;
            padding: 50px 0;

            div {
                margin: 20px 0;
            }
        }
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/// 

div.our-games {
    background-color: #8686866c;
    padding: 100px;
    max-width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-align: center;

    p.our-games-title{
        font-weight: 800;
        font-size: 3.125rem;
        color: #2B2B2B;
        margin: 0;
        padding: 0;

        @media (max-width: 768px) {
            font-size: 2.5rem;
        }
    }

    div.our-games-list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px 150px;
        border-radius: 30px;
        background-color: #f4f4f4;
        margin-top: 50px;

        img {
            border-radius: 30px;
            margin: 20px 15px;
            width: 400px;
            height: 250px;
        }

        p {
            font-weight: 800;
            font-size: 1.125rem;
            color: #2B2B2B;
            margin: 0;
            padding: 0;
        }
    }

    div.play-button {
        box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
        --tw-shadow: 0px 5px 10px rgba(54,70,76,.05),0px 0px 20px 4px rgba(24, 133, 223, 0.5);
        --tw-shadow-colored: 0px 5px 10px var(--tw-shadow-color),0px 0px 20px 4px var(--tw-shadow-color);
        --tw-bg-opacity: 1;
        background-color: rgb(24 133 223/var(--tw-bg-opacity));
        border-radius: 30px;
        color: rgb(255 255 255/var(--tw-text-opacity));
        cursor: pointer;
        width: 250px;
        height: 3.75rem;
        margin-top: 50px;
    
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &:hover {
            --tw-shadow-color: rgba(24, 133, 223,.5);
            --tw-shadow: var(--tw-shadow-colored);
            transition: all .2s ease-in-out;
            transform: scale(1.05);
        }
            
        a {
            font-weight: 700;
            font-size: 1.125rem;
            color: #fff;
            margin: 0;
            padding: 0;
        }
    }
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
/// 


div.footer {
    background-color: #2B2B2B;
    padding: 100px;
    max-width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-align: center;

    p.footer-title, p.footer-links-title {
        font-weight: 800;
        font-size: 3.125rem;
        color: #fff;
        margin: 0;
        padding: 0;

        @media (max-width: 768px) {
            font-size: 2.5rem;
        }
    }

    p.copyright {
        font-weight: 700;
        font-size: 1.125rem;
        color: #9D9D9D;
        margin: 0;
        padding: 0;
    }

    div.footer-links {
        margin-top: 80px;
    }

    div.footer-links-list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding: 10px 50px;
        border-radius: 30px;
        background-color: #f4f4f4;

        a {
            font-weight: 800;
            font-size: 1.125rem;
            color: #2B2B2B;
            margin: 0 15px;
            padding: 0;
        }
    }
}